    <a href="#">
      <span class="icon">
       <span id='cart-img'>{{ 'cart.png' | asset_url | img_tag }}</span><span id='cart-count'>{{ cart.item_count }}</span>
      </span>
    </a>
    <div class='cart-panel'>
      <hr style='margin-top:10px;margin-bottom:10px;'>
      SHOPPING CART
      <hr style='margin-top:10px;margin-bottom:10px;'>
      <div id='product-rows-grid'>
      {% for item in cart.items %}
        <div class='product-preview row' id='product-cart-{{ item.id }}' style='position:relative'>
          <div class='clear-item' style='z-index:50;position:absolute;top:3px;right:3px;' data-id='{{ item.variant.id }}'>X</div>      
          <div class='large-3 columns bar-image' style="width:150px;height:150px;background: url('{{ item.product.featured_image | product_img_url: 'large' |}}') center center no-repeat;background-size:cover">{{ item.quantity }}</div>
          <div class='large-8 columns' id='description'>
          <div class='row'>
              <div class='large-9 columns' style='padding:0'>
                <p>{{ item.vendor | upcase}}</p>
                <p id='product-cart-banner-title'>{{ item.title | upcase}}</p>
              </div>
              <div class='large-3 columns' id='left-cart-desc-side' style='padding:0'>
                <p>{{ item.quantity }} {{ item.quantity | pluralize: 'BAR', 'BARS'}} </p>
                <p class='price'></p>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            var total_price = {{ item.price }}*{{ item.quantity }}/100;
            console.log('price ' + {{ item.price }}/100 )
            console.log('quant ' + {{ item.quantity }})
            console.log(total_price)
            $('#product-cart-{{ item.id }} .price').html('$'+total_price)
          </script>
        </div>
        <hr>
      {% endfor %}
    </div>
      <div class='row'>
        <div id='checkout-action-button' class='large-12 columns'>
          <a href="/cart/add" class='button success' style='width:100%;margin-top:10px'>CHECKOUT/EDIT</a>
        </div>
        <div class='cart-summary'>
          <div class='large-12 columns'>
            <p id='total-cart-count' style='text-align:center;font-family:"brandon-reg"'>{{ cart.item_count }} {{ cart.item_count | pluralize: 'BAR', 'BARS' }}</p>
          </div>
          <div class='large-12 columns'>
            <p style='text-align:center;font-family:"brandon-reg"' class='total-price'></p>
            {% assign total_price = cart.total_price/100 %}
            <script type="text/javascript">
              var overall_price = 0;
              $('.total-price').html('CART TOTAL: $ '+ {{ cart.total_price }}/100)
            </script>
          </div>
        </div>
      </div>
    </div>