<div class="product-grid-item {{ product.metafields.image.orientation }}" id="product-{{ product.variants.first.id }}" data-product="{{ product.handle }}" data-url="{{ product.url }}" data-id='{{ product.variants.first.id }}' data-tags="{{ product.tags }}" style="background: url(&quot;http://cdn.shopify.com/s/files/1/0217/5572/{{ product.images.first }}&quot;);background-size:cover;" data-percent='{{ product.metafields.product.percent }}'><div class='hover-modal' id='hover-modal-{{ product.handle }}'><p class='action'><span class='action-learn'>LEARN</span></p><p style='font-family:"brandon-reg";font-size:13px'>OR</p><p class='action'><a href="#cart-anchor" onclick="$('body').scrollTop(); var f = document.createElement('form'); f.style.display = 'none'; f.setAttribute('id','form-{{product.variants.first.id }}'); this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '{{ product.variants.first.id }}'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'back'); return false;" class='action-buy'>BUY</a></p></div></div>


<!--<script type="text/javascript">$(document).ready(function(){ var dataset=[1,5,'+'];var w = $('.{{ product.metafields.image.orientation }}').width(),h = $('.{{ product.metafields.image.orientation }}').height(), sep = 70; console.log(w+' '+h);

	var canvas = d3.select('#product-{{ product.variants.first.id }}')
					.append('svg')
					.attr('width', w)
					.attr('height', h)

	var elemBlock = canvas.selectAll('g')
						.data(dataset);

	var elemBlockEnter = elemBlock.enter()
							.append('g')
							.attr('transform', function(d,i) {console.log('{{ product.metafields.image.orientation }} (data, i) '+ '('+d+','+i+') '+ ' (w, sep, i) ' + '('+w+','+sep+','+i+')'+' transform: '+ (((0.5)*w-sep)+i*sep)); return 'translate('+(((0.5)*w-sep)+(i*sep))+','+h/2+')';});

	var circle = elemBlockEnter.append('circle')
					.attr('r', 30)
					.style('fill', '#aaa');

	elemBlockEnter.append('svg:text')
		.attr('text-anchor', 'middle')
		.attr('color', 'black')
		.attr('font-size', '28px')
		.text(function(d,i){return d;});})</script>-->