<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}" />

  {% assign maxmeta = 155 %}
  {% if template contains 'product' %}
  <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template contains 'page' %}
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template == 'index' and shop.description != '' %}
  <meta name="description" content="{{ shop.description }}" />
  {% endif %}

  {% if template == 'index' %}
   <title>{{ shop.name }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
   <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% include 'fb-open-graph' %}

  {% case settings.header_font %}
  {% when "Rancho, cursive" %}
    <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
  {% when "'Amatic SC', cursive" %}
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  {% when "'Sancreek', cursive" %}
    <link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
  {% when "'Ubuntu Condensed', sans-serif" %}
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  {% endcase %}

  {{ 'style.css' | asset_url | stylesheet_tag }}{% if template contains 'product' and settings.main_image_display == 'Lightbox' %}
  {{ 'jquery.fancybox-1.3.4.css' | asset_url | stylesheet_tag }}{% endif %}
  {{ 'modernizr_exp.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js' | script_tag }}

  {{ content_for_header }}

  {{ 'foundation.css' | asset_url | stylesheet_tag }}

  {{ 'jquery.min.js' | asset_url | script_tag }}

  {{ 'jquery.masonry.min.js' | asset_url | script_tag }}

  {{ 'purl.js' | asset_url | script_tag }}

  {{ 'jquery.isotope.min.js' | asset_url | script_tag }}

  {{ 'd3.v2.js' | asset_url | script_tag }}

</head>

<body class="{% if customer %}customer-logged-in {% endif %}template{{ template | split: '.' | first | camelize }}">


  <span style='position:fixed;top:5px;left:5px;'>HELLO</span>

  <div class='row' style='margin-top:32px;margin-bottom:32px'>
    <div style='font-family:"brandon-blk";text-align:center;font-size:60px'>BAR & BEAN</div>
        <div id='brand-equity' style='font-family:"brandon-reg";text-align:center;font-size:10px'>A SHOP BY <a href='http://www.lolliandpops.com'>LOLLI AND POPS</a></div>
  </div>
  <div class='row' style='margin-bottom:33px'>
          <div class='search' style='position:absolute;left:10px'>
            <img src="{{ 'search.png' | asset_url }}"></img>
          </div>
          <div class="cart-link" id='cart-anchor' style='position:absolute;right:10px'>
            {% include 'cart' %}
          </div>
      <div id='nav-1'>
          <ul class='large-block-grid-4'>
            {% for link in linklists.main-menu.links %}
            <li class="{% if forloop.first %}first{% elsif forloop.last %}last{%endif%}">
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
              <div class="has-dropdown">
                <a href="{{ link.url }}" class="clearfix">
                  <span class="nav-label">{{ link.title | escape | upcase }}</span>
                  <span class="nav-arrow"></span>
                </a>
                <ul>
                  {% for childlink in linklists[child_list_handle].links %}
                  <li><a href="{{ childlink.url }}">{{ childlink.title | escape | upscase }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% else %}
                <a href="{{ link.url }}">{{ link.title | escape | upcase }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>

      </div>
  </div>

<!-- top-left/top-right -->
<div id='market-highlight'>
  FREE SHIPPING FOR ORDERS OVER $50
</div>

<div id="umbrella">

  <ul>  
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
      <li>
        Welcome {{ customer.first_name }} {{ '(LOG OUT)' | customer_logout_link }}
      </li>
      <li>
        <a href="/account">My Account</a>
      </li>
      {% else %}
      <li>
        {{ 'LOG IN' | customer_login_link }}
      </li>
      {% if shop.customer_accounts_optional %} 
      <li>
        {{ 'REGISTER' | customer_register_link }}
      </li>
      {% endif %}
      {% endif %}
    {% endif %}

    

  <!--  
    Checkout button
    <li class="checkout-link">
      <a href="/cart" class="btn">Check out</a>
    </li> -->

  </ul>

</div>

  <script type="text/javascript">
    $('.cart-link a').click(function(){
      console.log('clicked')
      if ($('.cart-panel').is(':visible')){
        $('.cart-panel').fadeOut(200);
        //hide().animate({},250)
      }
      else{
        console.log('clicked2')
        $('.cart-panel').fadeIn(200);
        //css('display', 'block').animate({},1000)
      }
    })

    function showPanel(){
      $('.cart-panel').fadeIn(200);
      $('.cart-panel').css('display', 'block')
    }

    function testFunction(){
      alert('test')
    }
  </script>

    <div class="wrapper">


    <div id='market-{{ template | split: '.' | lowercase }}'>
    
    
      <div id='nav-2'>
      </div>
      <div id='market-title-{{ template | split: '.' | lowercase }}' class='logo-title'>
        {% if template == 'product' %}
          <p>{{ product.title | upcase }}</p>
        {% endif %}
        {% if template == 'index' %}
        <div class='index-title'>
          <div class='row'>
            <div class='large-5 large-centered columns'>
              CHOCOLATE IS WORTH SAVORING
            </div>
          </div>
        </div>
        {% endif %}
        {% if template == 'collection' %}
        <div class='collection-title'>
          <div class='row'>
            <div class='large-6 large-centered columns'>
              DEFINE YOUR TASTE
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- Content -->
    <div class="content-wrapper clearfix">
      {% if template == 'list-collections' %}
        {% include 'collection-listing' %}
      {% else %}
        {{ content_for_layout }}
      {% endif %}

      {% unless template contains "customer" or template contains "cart" %}
        {% include 'col-widgets' %}
      {% endunless %}

    </div><!-- /.content -->

    <!-- Footer -->
    <footer id="bottom">
      <div class='row footer-info'>
        <div class='large-4 columns'>
          <p>BAR & BEAN</p>
          <p>39812 MISSION BLVD</p>
          <p>FREMONT, CA 94131</p>
          <br>
          <p style='font-family:"brandon-blk"'>BOX@BARANDBEAN.COM</p>
          <p style='font-family:"brandon-blk"'>1-877-BAR-BEAN (227-2326)</p>
        </div>
        <div class='large-4 columns'>
          3
        </div>
        <div class='large-4 columns'>
          3
        </div>
      </div>

      <div id="footer-left">
        <p>&copy; {{ 'now' | date: '%Y' }} <a href="/">{{ shop.name }}</a>. All Rights Reserved.</p>
      </div>

    </footer>

  </div><!-- /.wrapper -->

  <!-- script to add cart directly from any page -->
  <script type="text/javascript">
      $('.product-grid-item').hover(function(){
        var prod_handle = $(this)[0].getAttribute('data-product');
        var prod_url = $(this)[0].getAttribute('data-url');
        var $item_holder = $(this)

        $('#hover-modal-'+prod_handle).fadeIn(250);

      }).mouseleave(function(){
        var prod_handle = $(this)[0].getAttribute('data-product');
        
        $('#hover-modal-'+prod_handle).fadeOut(250);
      })

    $('.action-buy').click(function(){
      $('.cart-panel').hide()
      console.log('this' + $(this).attr('class'));
      console.log('this parent' + $(this).parent().attr('class'));
      console.log('this parent parent' + $(this).parent().parent().attr('class'))
      console.log('this parent parent' + $(this).parent().parent().parent().attr('class'))

      var $product_div = $(this).parent().parent().parent();
      var prod_id = $product_div.attr('data-id');
      var prod_handle = $product_div.attr('data-product');

      console.log($('#form-'+prod_id).serialize())

      console.log($product_div);
      console.log('quantity=1&id='+prod_id);

      var data = $('#form-'+prod_id).serialize();
      var url_post = 'cart/add';
      var url_get = 'cart';

      var posting = $.ajax({
        type: 'POST',
        url: url_post, 
        data: data,
        dataType: 'json',
        success: function(response){
            var get_cart_data = $.ajax({
            type: 'GET',
            url: url_get, 
            dataType: 'json',
            success: function(response){
              console.log(response);
              console.log(response.item_count)
              $('#cart-count').html(response.item_count)
              $('#product-rows-grid').html('');
              $.each(response.items, function(i,item){
                console.log(item);
                addCartUX(item);
              });

              //update total price
              var total_cart_price = response.total_price
              var total_cart_items = response.item_count;
              $('.price').html('$ ' + total_cart_price/100)
              $('#total-cart-count').html(total_cart_items+' '+pluralizeBars(total_cart_items).toUpperCase());

              //make cart panel appear for 5 seconds
              $('.cart-panel').css('top',-$('.cart-panel').height()+'px');
              $('.cart-panel').show();
              $('.cart-panel').animate({
                top:''
              },700, function(){
                $('.cart-panel').delay(5000).fadeOut('slow')
              })

            },
            error: function(){alert('failed caro') }
          })
        },
        error: function(){alert('failed caro') }
      });

    })

  function addCartUX(item){
    var item_id = item.id;
    var item_title = item.title;
    var item_vendor = item.vendor;
    var item_quantity = item.quantity;
    var item_price = item.price; 
    var item_pic_url = item.image;
    var item_price = item.line_price;

    console.log(item.image);
    var $img_container = $('<div class="large-3 columns bar-image" style="width:150px;height:150px;background: url(\''+item_pic_url+'\') center center no-repeat;background-size:cover" />');
    var $info_container = $('<div class="large-8 columns" id="description" />')
      var $info_row = $('<div class="row">')
        var $info_description = $('<div class="large-9 columns" style="padding:0"><p>'+item_vendor.toUpperCase()+'</p><p>'+item_title.toUpperCase()+'</p></div><div class="large-3 columns" id="left-cart-desc-side" style="padding:0"><div class="row" style="margin-right:0"><p>'+item_quantity+' '+ pluralizeBars(item_quantity).toUpperCase()+'</p></div><div class="row" style="margin-right:0"><p>$'+item_price/100+'</p></div></div>')

    $info_row.append($info_description);
    $info_container.append($info_row);

    var $row_container = $('<div class="product-preview row" id="product-cart-'+item.id+'" />')

    $row_container.append($img_container);
    $row_container.append($info_container);

    $('#product-rows-grid').append($row_container);
  }

  function pluralizeBars(num){
    if (num == 1) {
      return 'bar';
    }
    else {
      return 'bars';
    }
  }
  </script>
  <!-- end of add-cart script -->

  <!--[if lt IE 8]>
  <script>
    // IE 6+7 do not calculate the width of the #umbrella properly
    $('#umbrella').width( $('#umbrella ul').width() );
  </script>
  <![endif]-->

  {% if settings.twitterwidget_visible and settings.show_right_column %}
    {{ 'jquery.tweet.js' | asset_url | script_tag }}
    <script>
      $(".tweets-wrapper").tweet(
        {
          count: {{ settings.twitterwidget_numtweets }},
          username: "{{ settings.twitterwidget_username }}",
          loading_text: "loading tweets...",
          template: function(i){ return i["text"]
        }
      });
    </script>
  {% endif %}

  {% if template == 'index' and settings.show_carousel %}
    {{ 'jquery.tools.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'product' and settings.main_image_display == 'Lightbox' %}
  {{ 'jquery.easing-1.3.pack.js' | asset_url | script_tag }}
  {{ 'jquery.mousewheel-3.0.4.pack.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox-1.3.4.pack.js' | asset_url | script_tag }}
  <script>
  $("a[rel='fancybox']").fancybox({
    'hideOnContentClick': true
  });
  </script>
  {% endif %}

  {{ 'enhance.jquery.js' | asset_url | script_tag }}
  {{ 'hoverintent.jquery.js' | asset_url | script_tag }}
  {{ 'radiance.js' | asset_url | script_tag }}

  <script type="text/javascript" charset="utf-8">
  //<![CDATA[

  // Including api.jquery.js conditionnally.
  if (typeof Shopify.onCartShippingRatesUpdate === 'undefined') {
    document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
  }

  //]]>
  </script>

  <!-- Check for Zepto support, load jQuery if necessary -->
  {{ "zepto.js" | asset_url | script_tag }}

  {{ 'foundation.min.js' | asset_url | script_tag }}

  <script>
    $(document).foundation();
  </script>

</body>
</html>
