<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}" />

  {% assign maxmeta = 155 %}
  {% if template contains 'product' %}
  <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template contains 'page' %}
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template == 'index' and shop.description != '' %}
  <meta name="description" content="{{ shop.description }}" />
  {% endif %}

  {% if template == 'index' %}
   <title>{{ shop.name }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
   <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% include 'fb-open-graph' %}

  {% case settings.header_font %}
  {% when "Rancho, cursive" %}
    <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
  {% when "'Amatic SC', cursive" %}
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  {% when "'Sancreek', cursive" %}
    <link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
  {% when "'Ubuntu Condensed', sans-serif" %}
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  {% endcase %}

  {{ 'style.css' | asset_url | stylesheet_tag }}{% if template contains 'product' and settings.main_image_display == 'Lightbox' %}
  {{ 'jquery.fancybox-1.3.4.css' | asset_url | stylesheet_tag }}{% endif %}
  {{ 'modernizr_exp.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js' | script_tag }}

  {{ content_for_header }}

  {{ 'foundation.css' | asset_url | stylesheet_tag }}

  {{ 'jquery.min.js' | asset_url | script_tag }}

  {{ 'jquery.masonry.min.js' | asset_url | script_tag }}

  {{ 'purl.js' | asset_url | script_tag }}

  {{ 'jquery.isotope.min.js' | asset_url | script_tag }}

  {{ 'd3.v2.js' | asset_url | script_tag }}

  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>
  <script type="text/javascript">
  (function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.setAttribute('data-pin-hover', true);
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
  }(document));
  </script>
</head>

<body class="{% if customer %}customer-logged-in {% endif %}template{{ template | split: '.' | first | camelize }}">



<div id='market-{{ template | split: '.' | lowercase }}' class='top-banner'>
  <div class='row' id='menu-nav'>
    <div style='position:absolute;left:10px;top:13px;font-family:"brandon-blk";text-align:center;font-size:28px;width:200px'><a href='/'>{{ 'logo.png' | asset_url | img_tag }}</a> <!--<a href='/' style='color:black'>BAR & BEAN</a></div>--></div>
    <div class="cart-link" id='cart-anchor' style='z-index:100;position:absolute;right:10px;margin-top:14px'>
      {% include 'cart' %}
    </div>
    <div id="umbrella">

      <ul>  
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
          <li>
            Welcome {{ customer.first_name }} {{ '(LOG OUT)' | customer_logout_link }}
          </li>
          <li>
            <a href="/account">My Account</a>
          </li>
          {% else %}
          <li>
            {{ 'LOG IN' | customer_login_link }}
          </li>
          {% if shop.customer_accounts_optional %} 
          <li>
            {{ 'REGISTER' | customer_register_link }}
          </li>
          {% endif %}
          {% endif %}
        {% endif %}

        

      <!--  
        Checkout button
        <li class="checkout-link">
          <a href="/cart" class="btn">Check out</a>
        </li> -->

      </ul>

    </div>
    <ul style='z-index:50' id='nav-list'>
        {% for link in linklists.main-menu.links %}
        <li class="{% if forloop.first %}first{% elsif forloop.last %}{%endif%}">
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
          <div class="has-dropdown">
            <a href="{{ link.url }}" class="clearfix">
              <span class="nav-label">{{ link.title | escape | upcase }}</span>
              <span class="nav-arrow"></span>
            </a>
            <ul>
              {% for childlink in linklists[child_list_handle].links %}
              <li><a href="{{ childlink.url }}">{{ childlink.title | escape | upscase }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% else %}
            <a href="{{ link.url }}">{{ link.title | escape | upcase }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
  </div>


      <div id='market-title-{{ template | split: '.' | lowercase }}' class='logo-title'>
        {% if template == 'product' %}
          <p>{{ product.title | upcase }}</p>
        {% endif %}
        {% if template == 'index' %}
        <div class='index-title'>
          <div class='row'>
            <div class='large-5 large-centered columns'>
              CHOCOLATE IS WORTH SAVORING
            </div>
          </div>
        </div>
        {% endif %}
        {% if template == 'collection' %}
        <div class='collection-title'>
          <div class='row'>
            <div class='large-6 large-centered columns'>
              DEFINE YOUR TASTE
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

  <script type="text/javascript">
    var docked;
    var buffer = 10;  

    // lock menu-nav to top
    $(document).scroll(function(){

      if (!docked && $(document).scrollTop() > 0){
        docked = true;
        $('#menu-nav').css('background','rgba(60,60,60,0.9)');
        $('#menu-nav').css('position', 'fixed');
        $('#menu-nav').css('top',0)
        $('#menu-nav').css('height',49+'px')
      }
      else if (docked && $(document).scrollTop() < buffer) {
        docked = false;
        $('#menu-nav').css('background','');
        $('#menu-nav').css('position', 'absolute');
        $('#menu-nav').css('top',0)
      }

    })

    $('.cart-link a').click(function(){
      console.log('clicked')
      if ($('.cart-panel').is(':visible')){
        $('.cart-panel').fadeOut(200);
        //hide().animate({},250)
      }
      else{
        console.log('clicked2')
        $('.cart-panel').fadeIn(200);
        //css('display', 'block').animate({},1000)
      }
    })

    function showPanel(){
      $('.cart-panel').fadeIn(200);
      $('.cart-panel').css('display', 'block')
    }

    function testFunction(){
      alert('test')
    }
  </script>

    <div class="wrapper">

    <!-- Content -->
    <div class="content-wrapper clearfix">
      {% if template == 'list-collections' %}
        {% include 'collection-listing' %}
      {% else %}
        {{ content_for_layout }}
      {% endif %}

      {% unless template contains "customer" or template contains "cart" %}
        {% include 'col-widgets' %}
      {% endunless %}

    </div><!-- /.content -->

    <!-- Footer -->
    <footer id="bottom">
      <div class='row footer-info'>
        <div class='large-4 columns'>
          <p>BAR & BEAN</p>
          <p>39812 MISSION BLVD</p>
          <p>FREMONT, CA 94131</p>
          <br>
          <p style='font-family:"brandon-blk"'>BOX@BARANDBEAN.COM</p>
          <p style='font-family:"brandon-blk"'>1-877-BAR-BEAN (227-2326)</p>
        </div>
        <div class='large-4 columns'>
          3
        </div>
        <div class='large-4 columns'>
          3
        </div>
      </div>

      <div id="footer-left">
        <p>&copy; {{ 'now' | date: '%Y' }} <a href="/">{{ shop.name }}</a>. All Rights Reserved.</p>
      </div>

    </footer>

  </div><!-- /.wrapper -->

  <!-- fix nav to top on scroll -->
  <script type="text/javascript">
    /*$(document).scroll(function(){
      console.log('hey')
      if (document.body.scrollTop > $('#nav-1').position().top) {
        $('#top-pane').css('position', 'fixed');
        $('#top-pane').css('background', 'white');
        $('#top-pane').css('z-index', '40');
        $('#top-pane').css('top', '0px');
        $('#top-pane').css('height', '33x');
        $('#top-pane').css('border','1px solid black')
        $('#top-pane').css('padding-top','10px')
      }
      else {
        $('#top-pane').css('position', 'relative');
        $('#top-pane').css('background', 'white');
        $('#top-pane').css('z-index', '40');
        $('#top-pane').css('top', '0');
        $('#top-pane').css('border','')
      }
    })*/
  </script>

  <!-- script to add cart directly from any page -->
  <script type="text/javascript">

    function set_prod_hover_event(){

      $('.product-grid-item').hover(function(){
        var prod_handle = $(this)[0].getAttribute('data-product');
        var prod_url = $(this)[0].getAttribute('data-url');
        var $item_holder = $(this)

        $('#hover-modal-'+prod_handle).fadeIn(250);

      }).mouseleave(function(){
        var prod_handle = $(this)[0].getAttribute('data-product');
        
        $('#hover-modal-'+prod_handle).fadeOut(250);
      })
      // if learn is clicked
      $('.action-learn').click(function(){
        // need to get product data/img from JSON request
        // what do i need to send to the URL to get my product info?**
        var $product_div = $(this).parent().parent().parent();
        var prod_handle = $product_div.attr('data-product');
        var prod_id = $product_div.attr('data-id');

        var get_product_url = '/products/'+prod_handle+'.js';
        $.ajax({
              type: 'GET',
              url: get_product_url, 
              dataType: 'json',
              success: function(response){
                // this is where the product stuff comes up
                console.log(response.variants[0].id);
                pop_up(response, prod_id);
              }
            });
      })

      $('.action-bar-learn').click(function(){
        // need to get product data/img from JSON request
        // what do i need to send to the URL to get my product info?**
        var $product_div = $(this);
        var prod_handle = $product_div.attr('data-product');
        var prod_id = $product_div.attr('data-id');

        var get_product_url = '/products/'+prod_handle+'.js';
        $.ajax({
              type: 'GET',
              url: get_product_url, 
              dataType: 'json',
              success: function(response){
                // this is where the product stuff comes up
                console.log(response.variants[0].id);
                pop_up(response, prod_id);
              }
            });
      })

    // if buy is clicked
    $('.action-buy').click(function(){
      $('.cart-panel').hide()
      // console.log('this' + $(this).attr('class'));
      // console.log('this parent' + $(this).parent().attr('class'));
      // console.log('this parent parent' + $(this).parent().parent().attr('class'))
      // console.log('this parent parent' + $(this).parent().parent().parent().attr('class'))
      var $product_div = $(this).parent().parent().parent();

      console.log($product_div)

      var prod_id = $product_div.attr('data-id');
      var prod_handle = $product_div.attr('data-product');

      // console.log($('#form-'+prod_id).serialize())
      // console.log($product_div);
      // console.log('quantity=1&id='+prod_id);

      var data = $('#form-'+prod_id).serialize();
      var url_post = '/cart/add';
      var url_get = '/cart';

      console.log('data ' + data)

      var posting = $.ajax({
        type: 'POST',
        url: url_post, 
        data: data,
        dataType: 'json',
        success: function(response){
          var get_cart_data = $.ajax({
            type: 'GET',
            url: url_get, 
            dataType: 'json',
            success: function(response){
              console.log(response);
              console.log(response.item_count)
              $('#cart-count').html(response.item_count)
              $('#product-rows-grid').html('');
              $.each(response.items, function(i,item){
                console.log(item);
                addCartUX(item);
              });

              //update total price
              var total_cart_price = response.total_price
              var total_cart_items = response.item_count;
              $('.price').html('$ ' + total_cart_price/100)
              $('#total-cart-count').html(total_cart_items+' '+pluralizeBars(total_cart_items).toUpperCase());

              //make cart panel appear for 3 seconds
              $('.cart-panel').css('top',-$('.cart-panel').height()+'px');
              $('.cart-panel').show();
              $('.cart-panel').animate({
                top:''
              },1500, function(){
                $('.cart-panel').delay(3000).fadeOut('slow')
              })

              //notify
              notify_about_purchase();

            },
            error: function(){alert('failed caro') }
          })
        },
        error: function(){alert('failed caro') }
      });
    })
  }

  // if item is cleared from the cart
  $('.clear-item').click(function() {
    var prod_id = $(this).attr('data-id');
    var url_post = '/cart/change';
    var url_get = '/cart';
    var post_data = 'quantity=0&id='+prod_id;

    console.log(post_data)

    var change = $.ajax({
        type: 'POST',
        url: url_post, 
        data: post_data,
        dataType: 'json',
        success: function(){
          alert('changed');
          var get_cart_data = $.ajax({
            type: 'GET',
            url: url_get, 
            dataType: 'json',
            success: function(response){
              console.log(response);
              console.log(response.item_count)
              $('#cart-count').html(response.item_count)
              $('#product-rows-grid').html('');
              $.each(response.items, function(i,item){
                console.log(item);
                addCartUX(item);
              });
            },
            error: function(){alert('failed caro') }
          })
        },
        error: function(){alert('failed caro init') }
      });
    })

  function pop_up(item){
    // pop up hovering panel fixed some x pixels from top of screen, 375 px height
    var where_i_am = $(document).scrollTop; // pixel position of top of window e.g. i've scrolled to this point

    console.log('item');
    console.log(item);

    // remove any artifacts
    $('#current-highlighted-product').remove('');
    $('#focus-dim').remove();

    // add popup modal for product
    var $dim_outside = $('<div id="focus-dim"></div>')
    var $container = $('<div class="row" id="current-highlighted-product">\
                        \
                        </div>')
      var $pic_column = $("<div class='large-6 columns' style='padding:20px;height:100%'>\
                            <div style='background: url(\""+item.featured_image+"\") center no-repeat; background-size: contain; height:100%'></div>\
                          </div>") // put picture here
      var $info_column = $('<div class=\'large-6 columns\' style=\'padding:45px\'>\
                              <div class=\'row product-popup-desc\'>\
                                <span style=\'font-family:"brandon-blk";font-size:24px;\'>'+item.vendor.toUpperCase()+'</span><br><span style=\'font-family:"brandon-reg";font-size:21px;\'>'+item.title+'</span>\
                                <br>\
                                <br>\
                                <span class=\'main-desc\' style="font-family:\'brandon-reg\';font-size:19px;">'+item.description+'</span>\
                              </div>\
                              <div class=\'row\' style=\'margin-left:-34px\'>\
                                <div class=\'large-4 columns flav\' style=\'font-size:13px\'>\
                                  <label class=\'prod-sub-heading\'>FLAVORS</label>\
                                  '+item.description+'\
                                </div>\
                                <div class=\'large-4 columns dim\' style=\'font-size:13px\'>\
                                  <label class=\'prod-sub-heading\'>DIMENSIONS</label>\
                                  '+item.description+'\
                                </div>\
                                <div class=\'large-4 columns\'>\
                                </div>\
                              </div>\
                              <div class=\'row\' style=\'margin-left:-36px\'>\
                                  <div class="large-6 columns" style="line-height:35px;margin-top:20px"><label class=\'prod-sub-heading\' style=\'display:block;float:left;width:50%;font-size:13px;\'>NUMBER OF BARS:</label> <input style="overflow:hidden;width:40px;margin-left:200px; border: 5px solid black" type="text" name="fbars" id="num-bars" value="1"></div>\
                                    <div class="large-6 columns"><a href="#cart-anchor" class=\'action-popup-buy large button expand\' style="color:black;font-family:\'brandon-reg\';font-size:21px;background:rgb(239,239,239)" data-id=\''+item.variants[0].id+'\' onclick="$(\'body\').scrollTop(); var f = document.createElement(\'form\'); f.style.display = \'none\'; f.setAttribute(\'id\',\'form-popup-'+item.variants[0].id+'\'); this.parentNode.appendChild(f); f.method = \'POST\'; f.action = this.href; var v = document.createElement(\'input\'); v.setAttribute(\'type\', \'hidden\'); v.setAttribute(\'name\', \'id\'); v.setAttribute(\'value\', \''+item.variants[0].id+'\'); f.appendChild(v); var q = document.createElement(\'input\'); q.setAttribute(\'type\', \'hidden\'); q.setAttribute(\'name\', \'quantity\'); q.setAttribute(\'value\', $(\'#num-bars\').val()); f.appendChild(q); var r = document.createElement(\'input\'); r.setAttribute(\'type\', \'hidden\'); r.setAttribute(\'name\', \'return_to\'); r.setAttribute(\'value\', \'back\'); return false;">ADD TO CART</a></div></div>\
                            </div>'); // put info highlights here (maybe from product description?)**

      /*var $action_column = $('<div class="large-4 columns" style="padding:45px;height:100%">\
                                <div style="background:gray;padding:20px;height:100%">\
                                  <div style="background:white;padding:15px;height:100%">\
                                    <div class="large-12 columns" style="font-size:100px;font-family:\'brandon-blk\';text-align:center;height:160px;line-height:160px">$'+item.price/100+'</div>\
                                    <div class="large-12 columns" style="font-family:\'brandon-reg\';text-align:center"><i>Free shipping over $50</i></div>\
                                    <hr style="padding:0px;margin:5px;">\
                                    <div class="row"><div class="large-6 columns" style="line-height:35px;text-align:right">Number of bars: </div><div class="large-6 columns"><input style="overflow:hidden;width:35px" type="text" name="fbars" id="num-bars" value="1"></div></div>\
                                    <div class="large-12 columns"><a href="#cart-anchor" class=\'action-popup-buy large button expand\' style="font-family:\'brandon-blk\';"" data-id=\''+item.variants[0].id+'\' onclick="$(\'body\').scrollTop(); var f = document.createElement(\'form\'); f.style.display = \'none\'; f.setAttribute(\'id\',\'form-popup-'+item.variants[0].id+'\'); this.parentNode.appendChild(f); f.method = \'POST\'; f.action = this.href; var v = document.createElement(\'input\'); v.setAttribute(\'type\', \'hidden\'); v.setAttribute(\'name\', \'id\'); v.setAttribute(\'value\', \''+item.variants[0].id+'\'); f.appendChild(v); var q = document.createElement(\'input\'); q.setAttribute(\'type\', \'hidden\'); q.setAttribute(\'name\', \'quantity\'); q.setAttribute(\'value\', $(\'#num-bars\').val()); f.appendChild(q); var r = document.createElement(\'input\'); r.setAttribute(\'type\', \'hidden\'); r.setAttribute(\'name\', \'return_to\'); r.setAttribute(\'value\', \'back\'); return false;">ADD TO CART</a></div>\
                                  </div>\
                                </div>\
                              </div>'); // put actions here*/
      var $close_window = $('<span style="cursor:pointer;position:absolute;top:10px;right:10px;font-size:24px" onClick="$(\'#current-highlighted-product\').hide();$(\'#focus-dim\').hide();">X</span>'); // this is the big X at the top right of the pop-up

      $container.append($pic_column);
      $container.append($info_column);
      //$container.append($action_column);
      $container.append($close_window);
      $('.wrapper').append($container);
      $('body').append($dim_outside)

      var tags = '';

      $.each(item.tags, function(i, tag){
        console.log(tag);
        tags = tags + '<li>'+tag+'</li>'
      })

      $tag_list = $('#product-tags-'+item.id);
      //$tag_list.append(tags);

      var modal_height = $('#current-highlighted-product').height();

      $('#current-highlighted-product').css('display', 'none');
      $('#focus-dim').css('display','none');
      $('#current-highlighted-product').css('top', ($(window).height()-modal_height)/2);
      console.log($('#current-highlighted-product').css('top'));
      $('#focus-dim').css('height', $(document).height());

      $('#current-highlighted-product').fadeIn();
      $('#focus-dim').fadeIn();

    // panel should be populated with 1 row, 3 columns
    // absolute positioned x-out icon in top right

    // ability to purchase from hovering panel
      // update cart count, etc.
    // call method to animate cart when bought (optional)

    //event for dim background
    $('#focus-dim').click(function(){
      $('#current-highlighted-product').remove();
      $('#focus-dim').remove();
    })

    //event for purchasing
    $('.action-popup-buy').click(function(){
      //alert('in here')
      var prod_id = $(this).attr('data-id'); // grab product id from div
      var quantity = 1;                      // buy one unit of product
      purchase_product(prod_id, quantity);   // purchase product method call
    })
  }

  function notify_about_purchase(){
    $('#added-to-cart').remove();

    var $top_strip = $('<div id=\'added-to-cart\'>ADDED TO YOUR BAG</div>');
    $('body').append($top_strip);

    //$('#added-to-cart').css('top', $(document).scrollTop())

    $top_strip.delay(2000).fadeOut();
  }

  function purchase_product(prod_id, quantity){
      var data = $('#form-popup-'+prod_id).serialize();
      var post_data = 'quantity='+quantity+'&'+data;
      var url_post = '/cart/add';
      var url_get = '/cart';

      var posting = $.ajax({
        type: 'POST',
        url: url_post, 
        data: post_data,
        dataType: 'json',
        success: function(response){
          var get_cart_data = $.ajax({
            type: 'GET',
            url: url_get, 
            dataType: 'json',
            // change the notificaiton here -- purchase strip on top is better ...
            success: function(response){
              //console.log(response);
              //console.log(response.item_count)
              $('#cart-count').html(response.item_count)
              $('#product-rows-grid').html('');
              $.each(response.items, function(i,item){
              //  console.log(item);
                addCartUX(item);
              });

              //update total price
              var total_cart_price = response.total_price
              var total_cart_items = response.item_count;
              $('.total-price').html('$ ' + total_cart_price/100)
              $('#total-cart-count').html(total_cart_items+' '+pluralizeBars(total_cart_items).toUpperCase());

              //need notification strip here ***** TODO!!
              notify_about_purchase();

            },
            error: function(){alert('failed caro') }
          })
        },
        error: function(){alert('failed caro init') }
      });
  }

  function addCartUX(item){
    var item_id = item.id;
    var item_title = item.title;
    var item_vendor = item.vendor;
    var item_quantity = item.quantity;
    var item_price = item.price; 
    var item_pic_url = item.image;
    var item_price = item.line_price;

    console.log(item.image);
    var $img_container = $('<div class="large-3 columns bar-image" style="width:150px;height:150px;background: url(\''+item_pic_url+'\') center center no-repeat;background-size:cover">'+item_quantity+'</div>');
    var $info_container = $('<div class="large-8 columns" id="description" />')
      var $info_row = $('<div class="row">')
        var $info_description = $('<div class="large-9 columns" style="padding:0">\
                                    <p>'+item_vendor.toUpperCase()+'</p>\
                                    <p id="product-cart-banner-title">'+item_title.toUpperCase()+'</p>\
                                  </div>\
                                  <div class="large-3 columns" id="left-cart-desc-side" style="padding:0">\
                                    <div class="row" style="margin-right:0">\
                                      <p>'+item_quantity+' '+ pluralizeBars(item_quantity).toUpperCase()+'</p>\
                                    </div>\
                                    <div class="row" style="margin-right:0">\
                                      <p>$'+item_price/100+'</p>\
                                    </div>\
                                  </div>')

    $info_row.append($info_description);
    $info_container.append($info_row);

    console.log('this is your item')
    console.log(item);

    var $row_container = $('<div class="product-preview row" id="product-cart-'+item.id+'" style="position:relative">\
                              <div class=\'clear-item\' style=\'z-index:50;position:absolute;top:3px;right:3px;\' data-id=\''+item.variant_id+'\'>\
                                X</div></div>')

    $row_container.append($img_container);
    $row_container.append($info_container);

    $('#product-rows-grid').append($row_container);

    $('.clear-item').click(function() {
      var prod_id = $(this).attr('data-id');
      var url_post = '/cart/change';
      var url_get = '/cart';
      var post_data = 'quantity=0&id='+prod_id;

      console.log(post_data)

        var change = $.ajax({
        type: 'POST',
        url: url_post, 
        data: post_data,
        dataType: 'json',
        success: function(){
          //alert('changed');
          var get_cart_data = $.ajax({
            type: 'GET',
            url: url_get, 
            dataType: 'json',
            success: function(response){
              console.log(response);
              console.log(response.item_count)
              $('#cart-count').html(response.item_count)
              $('#product-rows-grid').html('');
              $.each(response.items, function(i,item){
                console.log(item);
                addCartUX(item);
              });
            },
            error: function(){alert('failed caro') }
          })
        },
        error: function(){alert('failed caro init') }
      });
    })
  }

  function pluralizeBars(num){
    if (num == 1) {
      return 'bar';
    }
    else {
      return 'bars';
    }
  }
  </script>
  <!-- end of add-cart script -->

  <!--[if lt IE 8]>
  <script>
    // IE 6+7 do not calculate the width of the #umbrella properly
    $('#umbrella').width( $('#umbrella ul').width() );
  </script>
  <![endif]-->

  {% if settings.twitterwidget_visible and settings.show_right_column %}
    {{ 'jquery.tweet.js' | asset_url | script_tag }}
    <script>
      $(".tweets-wrapper").tweet(
        {
          count: {{ settings.twitterwidget_numtweets }},
          username: "{{ settings.twitterwidget_username }}",
          loading_text: "loading tweets...",
          template: function(i){ return i["text"]
        }
      });
    </script>
  {% endif %}

  {% if template == 'index' and settings.show_carousel %}
    {{ 'jquery.tools.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'product' and settings.main_image_display == 'Lightbox' %}
  {{ 'jquery.easing-1.3.pack.js' | asset_url | script_tag }}
  {{ 'jquery.mousewheel-3.0.4.pack.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox-1.3.4.pack.js' | asset_url | script_tag }}
  <script>
  $("a[rel='fancybox']").fancybox({
    'hideOnContentClick': true
  });
  </script>
  {% endif %}

  {{ 'enhance.jquery.js' | asset_url | script_tag }}
  {{ 'hoverintent.jquery.js' | asset_url | script_tag }}
  {{ 'radiance.js' | asset_url | script_tag }}

  <script type="text/javascript" charset="utf-8">
  //<![CDATA[

  // Including api.jquery.js conditionnally.
  if (typeof Shopify.onCartShippingRatesUpdate === 'undefined') {
    document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
  }

  //]]>
  </script>

  <!-- Check for Zepto support, load jQuery if necessary -->
  {{ "zepto.js" | asset_url | script_tag }}

  {{ 'foundation.min.js' | asset_url | script_tag }}

  <script>
    $(document).foundation();
  </script>

</body>
</html>
