

<div class='row options-style'>
  <ul class='large-block-grid-3'>
    <li ><a href="#" data-dropdown='brand-filters'>BY BRAND</a></li>
    <li style='color:white;background:rgb(84,84,84)'><a href="#" data-dropdown='percent-filters'>BY PERCENTAGE</a></li>
    <li><a href="#" data-dropdown='flavor-filters'>BY FLAVOR PROFILE</a></li>
  </ul>
</div>

    <ul class='f-dropdown options' id='sort-filters' data-dropdown-content data-option-key='sortBy'>
      <li><a href='#options' class='option-value' data-option-value='percent'></a> Percent</li>
      <li><a href='#options' class='option-value' data-option-value='popularity'></a> Popularity</li>
    </ul>
    <!--<ul class='option-set large-2 columns' id='batch-filters' data-option-key='filter'>
      <label> Batch size: </label>
      <li><a href='#options' class='option-value' data-option-value='.artisan'></a> Small-batch</li>
      <li><a href='#options' class='option-value' data-option-value='*'></a> Large-batch</li>
    </ul>-->
    <ul class='f-dropdown options' id='brand-filters' data-dropdown-content>
      <li><div class='option-value'><a href='/collections/all'>All brands</a></div></li>
      {% for product_vendor in shop.vendors %}
        <li><div class='option-value'>{{product_vendor | link_to_vendor }}</div></li>
      {% endfor %}
    </ul>
    <ul class='f-dropdown options' id='bean-filters' data-dropdown-content data-option-key='filter'>
      <li><a href='#options' class='option-value' data-option-value='.single-origin'></a> Single Origin</li>
      <li><a href='#options' class='option-value' data-option-value='.fair-trade'></a> Fair Trade</li>
      <li><a href='#options' class='option-value' data-option-value='.organic'></a> Organic</li>
    </ul>
    <ul class='f-dropdown options' id='region-filters' data-dropdown-content data-option-key='filter'>
      <li><a href='#options' class='option-value' data-option-value='.NE'></a> Northeast</li>
      <li><a href='#options' class='option-value' data-option-value='.SE'></a> Southeast</li>
      <li><a href='#options' class='option-value' data-option-value='.NW'></a> Northwest</li>
      <li><a href='#options' class='option-value' data-option-value='.SW'></a> Southwest</li>
      <li><a href='#options' class='option-value' data-option-value='.MW'></a> Midwest</li>
    </ul>
    <ul class='f-dropdown options' id='flavor-filters' data-dropdown-content data-option-key='filter'>
      <li><a class='option-value' href='#' id='chocolatey' data-option-value='.chocolatey'>Chocolatey</a></li>
      <li><a class='option-value' href='#' id='citrus' data-option-value='.citrus'>Citrus</a></li>
      <li><a class='option-value' href='#' id='fruity' data-option-value='.fruity'>Fruity</a></li>
      <li><a class='option-value' href='#' id='floral' data-option-value='.floral'>Floral</a></li>
      <li><a class='option-value' href='#' id='earthy' data-option-value='.earthy'>Earthy</a></li>
      <li><a class='option-value' href='#' id='nutty' data-option-value='.nutty'>Nutty</a></li>
      <li><a class='option-value' href='#' id='spicy' data-option-value='.spicy'>Spicy</a></li>
      <li><a class='option-value' href='#' id='creamy' data-option-value='.creamy'>Creamy</a></li>
    </ul>
    <ul class='f-dropdown options' id='percent-filters' data-dropdown-content data-option-key='filter'>
      <li><a class='option-value' href='#' id='forty' data-option-value='.forty'> Below 40%</a></li>
      <li><a class='option-value' href='#' id='sixty' data-option-value='.sixty'> 41% to 60%</a></li>
      <li><a class='option-value' href='#' id='eighty' data-option-value='.eighty'> 61% to 80%</a></li>
      <li><a class='option-value' href='#' id='hundred' data-option-value='.hundred'> Above 80%</a></li>
    </ul>

<div id="col-main" class="{{ collection.handle }}">
{% assign gridFlag = false %}

<div class='row' id='filter-breadcrumbs' style='display:none'>
  <span style="float:left;padding-right:5px">SELECTED FILTERS: </span>
  <div id='show-filter-choices'></div>
  <!--<div id='nav-select'>
    <button class='grid-select'>Grid</button>
    <button class='bars'>Bars</button>
  </div>-->
</div>


  <!--<div id='bars-view'>
    {% paginate collection.products by 50 %}
      {% if collection.products.size > 0 %}
        <div class="product-grid clearfix isotope">
          {% for product in collection.products %}
            <div class='item {% for tag in product.tags %} {{tag}} {% endfor %}' style='display:none;'>
              {% include 'product-grid-item' %}
            </div>
          {% endfor %}
        </div>

        {% include 'pagination' %}

      {% else %}    
        <strong>No products found in this collection.</strong>
      {% endif %}
    {% endpaginate %}

  </div>-->


  <div id='grid-view' class='row'>
    <br>
    {% paginate collection.products by 10 %}
      {% if collection.products.size > 0 %}
        <div class="product-gridView clearfix">
          {% for product in collection.products %}
            <!--{% cycle 'group1': '<div class="row" style="padding-bottom:10px;margin-bottom:10px;border-bottom: 1px solid grey">', '', '', '' %}-->
              {% capture test_40 %} {{ product.metafields.bar.percent | minus:41 }} {% endcapture %}
              {% capture test_60 %} {{ product.metafields.bar.percent | minus:61 }} {% endcapture %}
              {% capture test_80 %} {{ product.metafields.bar.percent | minus:81 }} {% endcapture %}
              {% capture test_100 %} {{ product.metafields.bar.percent | minus:101 }} {% endcapture %}

              <div class="large-3 columns gridItem {% for tag in product.tags %} {{tag}} {% endfor %} {% if test_40 contains '-' %}forty{% elsif test_60 contains '-' %}sixty{% elsif test_80 contains '-' %}eighty{% elsif test_100 contains '-' %}hundred{% endif %}" style="float:left" data-product='{{product.handle}}' data-id='{{product.variants.first.id }}' data-isBar='true' data-percent='{{ product.metafields.bar.percent }}'>
                {% include 'product-grid-item-OLD' %}
              </div>
            <!--{% cycle 'group2': '', '', '', '</div>' %}
            {% cycle 'group3': '', '', '', '<hr>' %}-->
          {% endfor %}
        </div>

        {% include 'pagination' %}
      
      {% else %}    
        <strong>No products found in this collection.</strong>
      {% endif %}
    {% endpaginate %}
  </div>  

</div> <!-- /#col-main -->

<script type="text/javascript">
  // add to masonry
  $('.product-grid').isotope({
    itemSelector :'.item',
    masonry : {
    columnWidth: 1,
    },
    getSortData: {
    percent : function ( $elem ) {
        return $elem.attr('data-percent');
      }
    }
  });

  $('.product-gridView').isotope({
    layoutMode: 'fitRows',
    fitRows: {
      columnWidth: 220,
      rowHeight:360
    },
    getSortData: {
    percent : function ( $elem ) {
        return $elem.attr('data-percent');
      }
    }
  });

  // scratch JS
  $('.dt-size').parent().remove();
  $('.hor1').parent().remove();
  $('.ver1').parent().remove();

  var store_product_hash = new Array();
  var i = 0;

  {% for item in collection.products %}
    store_product_hash.push('{{ item.handle }}');
    i++;
   // console.log(i);
  {% endfor %}

  console.log(store_product_hash)

  var products_count = {{ collection.products_count }},
      pages_count = Math.ceil(products_count / 50),   // I'm actually paginating by 25 here
      base_url = location.pathname + "?page=",       // generate the paginated URLs
      i = 2;

  console.log('products_count ' + products_count);
  console.log('pages_count ' + pages_count);
  console.log('base_url ' + base_url);

  if (pages_count > 1){
    $('#pagination').show(); // hide pagination links, originally left in to keep it unobtrusive

    console.log('in mult pages ')
    var getItems = function(){
      $collection = $('.product-gridView');
      console.log('getting')
      for (i = 2; i <= pages_count;i++ ){     // loop through each paginated page
        $.get(base_url + i, function(data){   // get all the html
          //console.log(data);
          var items = $(data).find('.gridItem');  // find just the products
          console.log('items')
          console.log(items);
          //$collection.append(items);  // append them to the page
          $.each(items, function(i,item){
            console.log(item)
            $( item ).find('.row').css('width','100%');
            $collection.append( $( item ) ).isotope('appended', $ ( item ));
            //$collection.isotope('appended', $( item )) 
          })
          $collection.isotope('reLayout');
        });
      }
    }
    getItems();
  }


  // end of scratch JS

  $('.bars').click(function(){
    $('#grid-view').hide();
    $('#bars-view').show();
    $('.grid-item').hide();
    $('.product-grid').isotope('reLayout');
  })
  $('.grid-select').click(function(){
    $('#bars-view').hide();
    $('#grid-view').show();
    $('.grid-item').show();
  })

  // if a filter is clicked
  // register which filters are active
  // make sure whatever product is on the page has that tag
  // repopulate page and masonry-ize it

  var $option_values = $('.option-value');
  var options_hash = new HashTable({});
  var filters = [];
  var sorters = [];

  console.log('option values');
  console.log($option_values)

  $option_values.on('click', apply_filter);

  // if any of the filters are clicked
  function apply_filter(){ 
    console.log('this div '+ $(this).attr('class'));

    // find out if it's a filter or a sorter
    $option_key = $(this).parent().parent();

    //console.log('option key ' + $option_key.attr('class'))
    /////
    // REMOVE
    /////
    // if it's already been clicked, unselect it and remove it from the Hash
    if($(this).hasClass('selected')){
      $(this).removeClass('selected');
      $(this).css('background-color', 'white')

      // if a filter has been clicked
      if ($option_key.attr('data-option-key')=='filter'){
        value_index = filters.indexOf($(this).attr('data-option-value'));
        filters.splice(value_index,1);

        var filter_string = getFilterString(filters);

        options_hash.setItem($option_key.attr('data-option-key'), filter_string);
      }
      else{ // if a sorter has been clicked
        $(this).parent()
        options_hash.removeItem($option_key.attr('data-option-key'));
        options_hash.removeItem('sortAscending');
      }
    }
    else { 
      /////
      //  ADD
      /////
      // if it hasn't been clicked, select it and add it to the Hash
      // TODO: put a check beside the filters that have been clicked
      $(this).addClass('selected');
      $(this).css('background-color', 'white')
      if ($option_key.attr('data-option-key')=='filter'){
        filters.push($(this).attr('data-option-value'))
        var filter_string = getFilterString(filters);

        //console.log('filter clicked ' + filter_string)

        options_hash.setItem($option_key.attr('data-option-key'), filter_string);
      }
      else {
        options_hash.setItem($option_key.attr('data-option-key'), $(this).attr('data-option-value'));
        options_hash.setItem('sortAscending', false);
      }
    }
      // run the filter/sorter and reload the grid
      var values = options_hash.values();
      //console.log('values ' + values)
      var keys = options_hash.keys();
      //console.log(keys)

      var filter_list_item;
      $('#show-filter-choices').html('');
      if (filters.length > 0){
        $('#filter-breadcrumbs').show();
      }
      else {
        $('#filter-breadcrumbs').hide();
      }

      $.each(filters, function(i,item){
        filter_list_item = item.split('.')[1];
        //console.log(filter_list_item.toUpperCase());
        if (filter_list_item == 'forty'){
          filter_list_item = 'Below 40%';
        }
        else if (filter_list_item == 'sixty'){
          filter_list_item = '40% to 60%';
        }
        else if (filter_list_item == 'eighty'){
          filter_list_item = '61% to 80%';
        }
        else if (filter_list_item == 'hundred') {
          filter_list_item = 'Above 80%';
        }

        $('#show-filter-choices').append('<span data-option-key=\'filter\'>' +filter_list_item.toUpperCase() + ' <span><a class="inline-summary" style="cursor:pointer" data-option-value=\''+item+'\'>X</a></span></span>'+' ');
        $('.inline-summary').on('click', remove_filter);
      })

      $.each(values, function(i,v){
        //console.log('key ' + keys[i] + ' value ' + v)
        var options = {};
        options[keys[i]] = v;
        //$('.product-grid').isotope(options)
    });

      var selector = filters.join('');

      $('.product-gridView').isotope({ filter:selector })
      $('.product-grid').isotope({ filter:selector })
  }

  function remove_filter(){
    //alert('remove')
     var $option_key = $(this).parent().parent();
     var filter_item = $(this).attr('data-option-value').split('.')[1];
     var $filter_option = $('#'+filter_item);

    //console.log('option key ' + $option_key.attr('data-option-key'))
    /////
    // REMOVE
    /////
    // if it's already been clicked, unselect it and remove it from the Hash
    if($filter_option.hasClass('selected')){
      $filter_option.removeClass('selected');
      $filter_option.css('background-color', 'white')

      // if a filter has been clicked
      if ($option_key.attr('data-option-key')=='filter'){
        value_index = filters.indexOf($(this).attr('data-option-value'));
        filters.splice(value_index,1);

        var filter_string = getFilterString(filters);

        options_hash.setItem($option_key.attr('data-option-key'), filter_string);
      }
      else{ // if a sorter has been clicked
        options_hash.removeItem($option_key.attr('data-option-key'));
        options_hash.removeItem('sortAscending');
      }
    }

    var values = options_hash.values();
    //console.log('values ' + values)
    var keys = options_hash.keys();
    //console.log(keys)

    if (filters.length > 0){
      $('#filter-breadcrumbs').show();
    }
    else {
      $('#filter-breadcrumbs').hide();
    }

    $.each(values, function(i,v){
      //console.log('key ' + keys[i] + ' value ' + v)
      var options = {};
      options[keys[i]] = v;
      //$('.product-grid').isotope(options)
      //$('.product-gridView').isotope(options)
    });
    
    var selector = filters.join('');

    $('.product-gridView').isotope({ filter:selector })
    $('.product-grid').isotope({ filter:selector })

    $option_key.remove();
  }

  // Functions

  function getFilterString(filters) {
    var hold_filters = '';
    $.each(filters, function(i,v) {
      hold_filters = hold_filters +' '+ v;
    })
    return hold_filters;
  }


  // Classes 

  function HashTable(obj)
  {
    this.length = 0;
    this.items = {};
    for (var p in obj) {
        if (obj.hasOwnProperty(p)) {
            this.items[p] = obj[p];
            this.length++;
        }
    }

    this.setItem = function(key, value)
    {
        var previous = undefined;
        if (this.hasItem(key)) {
            previous = this.items[key];
        }
        else {
            this.length++;
        }
        this.items[key] = value;
        return previous;
    }

    this.getItem = function(key) {
        return this.hasItem(key) ? this.items[key] : undefined;
    }

    this.hasItem = function(key)
    {
        return this.items.hasOwnProperty(key);
    }
   
    this.removeItem = function(key)
    {
        if (this.hasItem(key)) {
            previous = this.items[key];
            this.length--;
            delete this.items[key];
            return previous;
        }
        else {
            return undefined;
        }
    }

    this.keys = function()
    {
        var keys = [];
        for (var k in this.items) {
            if (this.hasItem(k)) {
                keys.push(k);
            }
        }
        return keys;
    }

    this.values = function()
    {
        var values = [];
        for (var k in this.items) {
            if (this.hasItem(k)) {
                values.push(this.items[k]);
            }
        }
        return values;
    }

    this.each = function(fn) {
        for (var k in this.items) {
            if (this.hasItem(k)) {
                fn(k, this.items[k]);
            }
        }
    }

    this.clear = function()
    {
        this.items = {}
        this.length = 0;
    }
  }
</script>