<div id="col-main">

  <div class='row homepage-splash'>
    <div class='large-5 columns left-col fix-pad' id='story-1'>
      <div></div>
      <span style='opacity:.1;position:absolute;top:0;left:0;background-color:black;width:100%; height:100%;z-index:100'></span>
      <span style='position:absolute; top:50%; left:50%'>Our story</span>
    </div>
    <div class='large-7 columns right-col fix-pad'>
      <div class='row'>
        <div class='large-6 columns' id='story-2'>
          <div></div>
        </div>
        <div class='large-6 columns' id='story-3'>
          <div></div>
        </div>
      </div>
      <div class='row' style='padding-top:10px'>
        <div class='large-12 columns' id='story-4'>
          <div></div>
        </div>
      </div>
    </div>
  </div>

  <div id='contain-masonry'>
    <div class='item col1'></div>
    <div class='item col1'></div>
    <div class='item col2'></div>
    <div class='item col1'></div>
    <div class='item col2'></div>
    <div class='item col2'></div>
    <div class='item col2'></div>
    <div class='item col2'></div>
    <div class='item col1'></div>
    <div class='item col1'></div>
    <div class='item col2'></div>
    <div class='item col2'></div>
    <div class='item col1'></div>
    <div class='item col1'></div>
    <div class='item col1'></div>
    <div class='item col1'></div>
    <div class='item col1'></div>
  </div>

  <script type="text/javascript">
    $(function(){
      $('#contain-masonry').masonry({
        itemSelector :'.item',
        columnWidth : 1
      });
    });

    $('.item').hover(function(){
      $(this).css('background-color', 'black');
      $(this).css('opacity', 0.3)
      $(this).html('<span style="position:absolute;padding-top:'+$(this).height()/2+'px;padding-left:50%;left:-15px;top:-15px"><a href="#">{{ "fancy_close.png" | asset_url | img_tag }}</a></span>')
    }).mouseleave(function(){
      $(this).css('background-color', 'black');
      $(this).css('opacity', 1)
      $(this).html('')
    })
  </script>

  {% comment %}
    ****************************
    Biolerplate theme code below
    **************************** 
  {% endcomment %}

  {% include 'carousel' %}

  {% if settings.show_page_on_homepage  %}
    <section class="content">
        {{ pages[settings.home_page].content }}
    </section>
  {% endif %}


  {% include 'if-shop-has-no-products' %}


  {% if settings.home_featured_collection and collections[settings.home_featured_collection].products != empty %}

    {% assign featuredCollection = collections[settings.home_featured_collection] %}

    <!-- Three featured products -->
    <section class="products-prominent clearfix diagonal-divider">

      <header class="section-details clearfix {% if settings.home_featured_header_show == false %}visuallyhidden{% endif %}">
        <h2 class="section-title">{{ featuredCollection.title | link_to: featuredCollection.url }}</h2>
        {% if featuredCollection.products.size > 3 %}
          <div class="view-more">{{ 'View More &raquo;' | link_to: featuredCollection.url }}</div>
        {% endif %}
      </header>

      <ul id="featured-grid" class="product-grid wide">

        {% for product in featuredCollection.products offset: 0 limit: 3 %}
        <li class="product {% if forloop.last %}last-in-row{% endif %}">
          <a class="product-photo" href="{{ product.url | within: collection }}" title="{{ product.featured_image.alt | escape }}">
            <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" />
          </a>
          <div class="product-information">
            <span class="product-price{% if product.compare_at_price > product.price %} sale{% endif %}">
              {% if product.available %}
              {% if product.price_varies %}
                <small>from</small> {{ product.price_min | money }}
              {% else %}
                {{ product.price_min | money }}
              {% endif %}
              {% if product.compare_at_price > product.price %}
                <small>was {{ product.compare_at_price | money }}</small>
              {% endif %}
              {% else %}
              Sold Out
              {% endif %}
            </span>

            <h3><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>

            {% if settings.show_featured_desc %}
              <p>{{ product.description | strip_html | truncatewords: 40 }}</p>
            {% endif %}
          </div>
        </li><!-- /.product -->
        {% endfor %}

      </ul>

    </section>
  {% endif %}

  {% if settings.feature_collections_on_homepage %}

    <!-- Featured Collections -->
    <section class="diagonal-divider clearfix">

      {% unless settings.feature_collections_on_homepage_heading == blank %}
      <header class="section-details clearfix">
        <h2 class="section-title">{{ settings.feature_collections_on_homepage_heading | link_to: '/collections/all' }}</h2>
      </header>
      {% endunless %}

      <ul id="collection-grid" class="product-grid">
        {% if settings.use_linklist_for_categories %}
        {% for link in linklists[settings.linklist_for_categories].links %}
          {% if link.type == 'collection_link' %}
            {% assign collection = link.object %}
            {% include 'collection-grid-item' %}
          {% endif %}
        {% endfor %}
        {% else %}
        {% for collection in collections %}
        {% unless collection.handle == 'frontpage' or collection.handle == 'all' %}
          {% include 'collection-grid-item' %}
        {% endunless %}
        {% endfor %}
        {% endif %}
      </ul>

    </section>
  {% endif %}

  {% if settings.home_products_collection and collections[settings.home_products_collection].products != empty %}

    {% assign homeCollection = collections[settings.home_products_collection] %}

    <!-- A collection of products -->
    <section class="diagonal-divider clearfix">

      <header class="section-details clearfix">
        <h2 class="section-title">{{ homeCollection.title | link_to: homeCollection.url }}</h2>
      </header>

      <ul class="product-grid" id="secondary-grid">
        {% for product in homeCollection.products limit: settings.home_products_limit %}
        <li{% cycle '', '', '', ' class="last-in-row"' %}>
          {% include 'product-grid-item' %}
        </li>
        {% endfor %}
      </ul>

    </section>
  {% endif %}


</div><!-- /#col-main -->
