<div id="col-main">

<!--style all of this -->
<section id='popular-products-section'>
  <div class='row big-break'>
    POPULAR PRODUCTS
  </div>
  <div class='row featured-products-overall'>
    {% for product in collections.popular-1.products %}
        <div class=' item {% for tag in product.tags %} {{tag}} {% endfor %}' data-id='{{product.variants.first.id}}' data-product='{{product.handle}}'>
          {% include 'product-grid-item' %}
        </div>
    {% endfor %}
  </div>
  <div class='row view-more'>
    <a href='http://lp-beta.myshopify.com/collections/all'>VIEW ALL PRODUCTS</a>
  </div>
</section>

<!-- fact section -->
<section id='featured-fact-section'>
  <div class='row minor-break'>
    CHOCOLATE WITH SEA SALT
  </div>
  <div class='row featured'>
    {% include 'featured-fact-grid' %}
  </div>
</section>

<!-- artisan section -->
<section id='featured-artisan-section'>
  <div class='row minor-break'>
    ARTISAN OF THE WEEK
  </div>
  <div class='row featured'>
    {% include 'featured-artisan-grid' %}
  </div>

  <div class='row big-break'>
    PRODUCTS BY MAST BROTHERS
  </div>
  <div class='row featured-products-artisan'>
    {% for product in collections.mast-brothers.products %}
        <div class='item {% for tag in product.tags %} {{tag}} {% endfor %}'>
          {% include 'product-grid-item' %}
        </div>
    {% endfor %}
    {% for product in collections.mast-brothers.products %}
        <div class='item {% for tag in product.tags %} {{tag}} {% endfor %}'>
          {% include 'product-grid-item' %}
        </div>
    {% endfor %}
  </div>
  <div id='hide-link' style='display:none'>{{ 'Mast Brothers' | link_to_vendor}}</div>
  <div class='row view-more' id='show-link'>
    <a href='http://lp-beta.myshopify.com/collections/all'>VIEW MORE MAST BROTHERS PRODUCTS</a>
  </div>
</section>

<!-- script for adding isotope support -->
<script type="text/javascript">
  $(function(){
    set_prod_hover_event();

    $('.action-learn-bar').click(function(){
        // need to get product data/img from JSON request
        // what do i need to send to the URL to get my product info?**
        var $product_div = $(this);
        var prod_handle = $product_div.attr('data-product');
        var prod_id = $product_div.attr('data-id');

        var get_product_url = '/products/'+prod_handle+'.js';
        $.ajax({
              type: 'GET',
              url: get_product_url, 
              dataType: 'json',
              success: function(response){
                // this is where the product stuff comes up
                console.log(response.variants[0].id);
                pop_up(response, prod_id);
              }
            });
    })

    $('.featured-products').isotope({
      itemSelector :'.item',
      masonry: {
        columnWidth: 1
      },
      getSortData : {
        percent : function ( $elem ) {
          return $elem.attr('data-percent');
        }
      }
    });
  });
  </script>

  <script type="text/javascript">
    var link = $('#hide-link a').attr('href')
    $('#show-link a').attr('href', link)
  </script>

</div><!-- /#col-main -->
